#CartContainer {
  background: var(--color-bg);
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0 calc(2 * var(--margin)) var(--margin);
  position: fixed;
  top: var(--header-height);
  transition: all .375s $easeOutQuart;
  right: 0;
  z-index: 1000;
  width: calc(6 * var(--col-width) + var(--margin));
  
  @include medium-down {
    padding: 0 calc(1 * var(--margin)) var(--margin);
    width: calc(100% - var(--col-width-mobile));
  }
}

#CartContainer {
  
  > form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

#CartContainer {
  
  *:not(.btn):not(button){
    font-family: acumin;
    font-size: var(--type-size);
  }
  h2, h3 {
    font-size: var(--type-size);
  }
  
  .js-qty__wrapper button span {
    color: var(--color-type);
  }
}

.drawer--header {
  align-items: center;
  display: flex;
  height: calc(var(--nav-height) - var(--header-height));
  justify-content: flex-end;
  position: relative;
  transition: all .375s $easeOutQuart;
  
  .button-close, .modal-close {
    position: relative;
  }
  a {
    margin-left: var(--margin);
    text-transform: uppercase;
  }
}
.drawer__scrollable {
  overflow: auto;
}

/* 
  
  item
  
  */

.grid.ajaxcart__cart-item {
  border-bottom: 1px solid var(--color-border);
  padding: calc(.5 * var(--margin)) 0;
}

/* buttons */

.js-qty__wrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: var(--margin);
  
  > * {
    order: 2;
    
    &.js-qty__adjust--minus {
      order: 1;
    }
  }
}

.ajaxcart__product {
  
  .cart-item--price {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: var(--letter-spacing);
  }
  input {
    background: transparent none;
    border: none;
    border-color: var(--color-active-light);
    max-width: calc(2 * var(--margin));
    min-height: 0;
    padding: 0 calc(.5 * var(--margin));
    text-align: center;
  }
}

.cart-list .item,
.ajaxcart__product {
  
  a.remove,
  button {
    align-items: center;
    background: transparent none;
    border: none;
    border-radius: 99px;
    box-shadow: none;
    color: var(--color-type);
    display: inline-flex;
    height: calc(.875 * var(--margin));
    justify-content: center;
    letter-spacing: var(--letter-spacing);
    padding: 0;
    text-transform: uppercase;
    width: calc(.875 * var(--margin));
    
    span {
      color: var(--color-type);
      display: inline-flex;
      padding: 0 calc(.5 * var(--margin));
    }
    
    &.js-qty__adjust--remove {
      height: auto;
      text-decoration: underline;
      width: auto;
      
      span {
        font-size: var(--type-size-small) !important;
        margin: 0;
        padding: 0;
      }
    }
  }
  
  a.remove {
    height: auto;
    text-decoration: underline;
    width: auto;
  }
}

/* price */

.ajaxcart__price {
  text-align: right;
}
.cart__price--strikethrough {
  font-size: inherit;
  text-decoration: line-through;
}

/*
  
  meta
  
  */
  
.grid__item.ajaxcart__product-meta-wrapper {
  display: flex;
  flex: 1;
}
.ajaxcart__product-name--wrapper {
  padding: 0 0 calc(.5 * var(--margin));
  width: 50%;
  
  > * {  } 
}

/*
  
  images
  
  */
  
.ajaxcart__product-image {
  display: block;
  padding: 0 var(--margin) 0 0;
  width: calc(4.25 * var(--margin));
  
  img {
    width: 100%;
  }
}

/*
  
  subtotals
  
  */
  
.grid.ajaxcart__subtotal-wrapper, 
.ajaxcart__note {
  border: 1px solid var(--color-border);
  border-width: 1px 0;
  padding: calc(1 * var(--margin)) 0;
}

.ajaxcart__note {
  border-width: 0 0 1px;
}

.cart--buttons {
  align-items: flex-start;
  display: flex; 
  flex-direction: column;
  
  .btn:not(.btn--line) {
    font-size: var(--type-size);
    margin-bottom: calc(.5 * var(--margin));
    text-align: center;
    width: 100%;
  }
  .btn {
  }
}

/* 
  
  type
  
  */

#CartContainer {
  
  p {
    text-indent: 0;
  }
}

/*
  
  logic
  
  */
body {  
  
  #CartContainer {
    opacity: 0;
    pointer-events: none;
  }
  &[data-cart-active] #CartContainer {
    opacity: 1;
    pointer-events: all;
  }
}

body {
  
  &[data-cart-active] {
    overflow: hidden;
  }
}

/* cart page */

.cart-list .desc .product-title {
  font-weight: inherit;
}
.update-continue {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  
  .continue {
    display: inline-block;
    margin-left: calc(1 * var(--margin));
  }
  .btn {
    margin-right: calc(1 * var(--margin));
    width: auto;
  }
}

.note-area {
  padding-top: calc(1 * var(--margin));
}
.under-cart, .under-cart .rte, .under-cart #comments, .under-cart #template, .under-cart #address_tables {
  text-align: left;
  
  .terms {
    align-items: center;
    display: flex;
    
    label {
      margin: 0 0 0 calc(1 * var(--margin));
    }
  }
  textarea {
    width: 100%;
  }
  
  .btn {
    margin-top: calc(1 * var(--margin));
    width: 100%;
  }
}