#page-content .pagination {
  background: transparent none;
  display: flex;
  justify-content: center;
  margin: calc(.5 * var(--col-width)) 0 0;
  padding: calc(.5 * var(--margin)) 0 !important;
  width: 100%;
  
  .page {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin: 0 calc(.75 * var(--margin));
    opacity: .3;
    padding: 0;
    width: auto;
    
    &:last-of-type {
      margin-right: auto;
    }
    &:before, &:after {
      content: none !important;
    }
  }
  .page.current {
    opacity: 1;
  }
  
  .prev, 
  .next {
    height: auto;
    margin: 0 calc(.5 * var(--margin));
    width: auto;
  }
  .prev a, 
  .next a {
    align-items: center;
    background: transparent none;
    border-radius: 0;
    display: inline-flex;
    font-weight: 400;
    justify-content: center;
    height: calc(1.5 * var(--margin));
    letter-spacing: var(--letter-spacing);
    padding: 0;
    position: relative;
    text-indent: -9999px;
    text-transform: uppercase;
    white-space: nowrap;
    width: calc(1.5 * var(--margin));
    
    &:before {
      background: url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 22.9 22.8" style="enable-background:new 0 0 22.9 22.8;" xml:space="preserve"><style type="text/css">.st0{fill:none;stroke:%233A2426;stroke-width:1.25;}</style><polyline class="st0" points="3.3,8 11.4,16.1 19.3,8.2 "/></svg>');
      content: '';
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
  
  .next a {
    &:before {
      transform: translate(-50%, -50%) rotate(-90deg);
    }
  }
  
  .page, .prev a, .next a {
    
    &:hover {
      transform: none;
    }
  }
}
/*
.pagination .next a::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0-.25H24v24H0Z' transform='translate(0 0.25)' style='fill:none'%3E%3C/path%3E%3Cpolyline points='10 17.83 15.4 12.43 10 7.03' style='fill:none;stroke:currentColor;stroke-miterlimit:8;stroke-width:1'%3E%3C/polyline%3E%3C/svg%3E");
}
.pagination .prev a:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M0-.25H24v24H0Z' transform='translate(0 0.25)' style='fill:none'%3E%3C/path%3E%3Cpolyline points='14.4 7.03 9 12.43 14.4 17.83' style='fill:none;stroke:currentColor;stroke-miterlimit:8;stroke-width:1'%3E%3C/polyline%3E%3C/svg%3E");
}
*/