#shopify-section-stockists {
  display: none;
}

.stockists--border {
  border: 1px solid var(--color-border);
  border-width: 1px 0;
}

.stockists .grid > * {
  border-right: 1px solid var(--color-border);
  
  @include medium-down {
    border-right: none;
  }
  
  &:last-child {
    border-width: 0;
  }
}

.section-find-a-stockist {
  background: var(--color-bg);
  
  &:first-child {
    padding-top: calc(var(--nav-height) - var(--header-height));
  }
}

.stockists .map {
  height: calc(var(--viewport-height) - var(--nav-height));
  width: 100%; 
  
  @include medium-up {
    left: 0 !important;
    top: 0 !important;
    width: calc(100% + var(--col-width) + var(--margin));
  }
}

.stockists {
  
  h2, h3, h4, p {  }
}

.stockists {
  
  h2, h3, h4, p {
    margin: 0;
    text-align: left;
    text-indent: 0;
  }
  
  
  h2, 
  h3 {
    margin: var(--margin) 0;
    text-indent: 0;
    
    &:first-child {
      margin-top: 0;
    }
  }
  
  * + h2 {
    margin-top: calc(2 * var(--margin));
  }
  
  .stockists-item {
    cursor: pointer;
    margin-bottom: calc(1 * var(--margin)); 
    padding-left: calc(1.5 * var(--margin));
    position: relative;
    
    @include medium-down {
      padding-left: calc(2 * var(--margin));
    }  
    
    > div:last-child {
      transition: all .375s $easeOutQuart;  
    }
    
    &:hover > div:last-child {
      transform: translateX(calc(.5 * var(--margin)));
    }
    
    &:last-child {
      margin-bottom: calc(2 * var(--margin));
    }
  }
}

.stockists-item:not(.stockists-item--flex) {
  margin-left: calc(1.66 * var(--margin));
}

.stockists-item.stockists-item--flex {
  align-items: flex-start;
  display: flex;
  
  .stockists-id {
    align-items: center;
    background: var(--color-type);
    border-radius: 99px;
    color: var(--color-type-dark);
    display: flex;
    font-size: 82.5%;
    font-weight: 400;
    height: calc(.75 * var(--margin));
    justify-content: center;
    left: 0;
    position: absolute;
    transform: translateY(1.5px);
    width: calc(.75 * var(--margin));
    
    @include medium-down {
      margin-left: 0;
    }
  } 
}

/*
  
  the overflow
  
  */
  
.stockists {
  max-height: 100%;
  
  .inner, 
  .inner .stockists, 
  .inner .stockists .grid {
    max-height: 100%;  
    overflow: hidden;
  }  
  .grid > div {
    
    @include medium-up {
    
      &:not(:last-child) {
        max-height: 100%;
        overflow: auto;
      }
    }
  }
}

.stockists--block {
  
  &:last-child {
    margin-bottom: 0;
  }
}

/*

  modal
  
  */
  
.theme-modal#stockists-modal-new {
  background: var(--color-bg-dark-rgba);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  z-index: 101;
  
  .stockists-container {
    background: var(--color-bg-dark);
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: var(--col-width);
    max-height: calc(100vh - (2 * var(--col-width)));
    max-width: calc(var(--max-width) + 2 * var(--margin));
    overflow: auto;
    position: relative;
    width: 100%;
    
    .inner {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
  }
  .inner {
    max-height: 100%;
    padding: 0;
  }
  
  .stockists {
    display: flex;
    flex: 1;
    overflow: hidden;
  }
  
  .stockists {
    
    .map--container {
      position: relative;
      
      @include medium-up {
        height: 100%;
        width: calc(100% + 2 * var(--margin));
      }
    }
    .map {
      width: 100%;
    }
  }
}

.stockists {
    
  div.search-form {
    border-bottom: 1px solid var(--color-border);;
    margin: 0 0 calc(2 * var(--margin));
    
    input {
      color: var(--color-type);
      font-size: var(--type-size-heading);
      
      &::placeholder {
        color: rgba(0, 0, 0, .3);
      }
    }
    
    button svg * {
      stroke: var(--color-type);
    }
  }
}
.stockist-marker {
  background: var(--color-bg-dark) !important;
  color: var(--color-type-dark) !important;
}

@include medium-down {
  
  .stockists .map--container {
    height: var(--stockist-map-offset);
  }
  .stockists .map {
    height: var(--stockist-map-offset);
    margin-left: calc(-1 * var(--margin));
    margin-right: calc(-1 * var(--margin));
    width: calc(100% + (2 * var(--margin)));   
    
    &.fixed {
      position: fixed !important;  
      width: 100vw;
    }
  }
  
  .theme-modal#stockists-modal-new {
  
    .stockists-container {
      margin: var(--margin);
      max-height: calc(100vh - (2 * var(--margin)));
      max-width: calc(100vw - (2 * var(--margin)));
    }
    .stockists {
      overflow: auto;
    
      .map--container, 
      .map {
        max-height: calc((100vh - (2 * var(--margin)) * .5));
      }
      .map {
        bottom: 0;
        left: 0 !important;
        margin: var(--margin);
        opacity: 0;
        pointer-events: none;
        position: fixed !important;
        top: auto !important;
        transition: all .675s $easeOutQuart;
        width: calc(100vw - 2 * var(--margin));
      }
    }
    
    &.reveal .map {
      opacity: 1;
      pointer-events: all;
    }
  }
}

.stockists-content--header {
  border: 1px solid var(--color-border);
  border-width: 1px 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: -1px;
  padding: var(--margin) var(--margin) calc(.5 * var(--margin));
  
  ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  
  h4 {
    cursor: pointer;
    margin: 0 calc(2 * var(--margin)) calc(.5 * var(--margin)) 0;
    opacity: .4;
    transition: all .375s $easeOutQuart;
    
    &.active {
      opacity: 1;
    }
  }
}

.stockists-content--content {
  padding: var(--margin);
}

.stockist--area {
  opacity: 0;
  position: absolute;
  
  &.active {
    opacity: 1;
    position: relative;
    transition: all .375s $easeOutQuart;
    z-index: 1;
  }
}

.map > div > div > div:last-child {display: none !important;}

.stockists-relative {
  position: relative;
  
  .stockists-height {
    display: flex;
    flex-direction: column;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    
    @include medium-down {
      position: relative;
    }
    
    .stockists--other, 
    .stockists-content {
      display: flex;
      flex-direction: column;
      flex:1;
      max-height: 100%;
      overflow: hidden;
    }
    .stockists-content--content {
      overflow: auto;
    }
  }
}